/*
Autor: Jorge Marcelo
Data de Criação: 12/08/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 


/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');

/*Configurações padrão*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
transition: all 0.5s ease;
font-family: 'Bricolage Grotesque', sans-serif;
}

/*Background color*/
body{
background-color: rgb(62, 252, 125);
}

/*Formulario*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 360px;
background-color: rgb(41, 40, 40);
border-radius: 10px;
box-shadow: 0 20px 25px rgba(0,0,0,0.25);
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
padding: 10px;
border: 3px solid rgb(255, 255, 255);
}

/*Containers*/
section{
display: flex;
flex-direction: row;
justify-content: center;
align-items: content ;
margin: 5px;
border-radius: 10px;
font-size: 2em;
background-color: white;
font-weight: 900;
border: 3px solid  rgb(0, 255, 85);
margin: 20px;
width: 300px;
}

article{
display: flex;
justify-content: space-between;
}

/*Container do timer*/
span{
color: rgb(0, 0, 0);
}

/*Textos*/
h1{
color: rgb(0, 255, 85);
font-size: 1.5em;
font-weight: 900;
}

h2{
color: rgb(0, 255, 85);
font-size: 1.3em;
font-weight: 900;
margin: 5px;
}

label{
color: rgb(0, 255, 85);
font-size: 1.3em;
margin: 0  10px 0 25px;
}

/*inputs*/
input{
text-align: center;
width: 100px;
height: 30px;
border-radius: 10px;
font-size: 1em;
border: 3px solid rgb(47, 255, 82);
margin: 10px 5px;
}


/*Rodape e redes sociais*/
table {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}

/*Botões*/
button{
margin: 0 7px;
width: 50px; 
height: 50px;
border-radius: 100%;
cursor: pointer;
}

/*Botão de ação do timer*/
.buttonAction{
border-radius: 30px;
cursor: pointer;
width: 120px;
height: 35px;
font-weight: 900;
font-size: 1.1em;
color: rgb(0, 255, 34);
margin: 10px;
border: 3px solid white;
background-color:transparent;
}

.buttonAction:hover{
background-color: rgb(117, 255, 75);
color: rgb(0, 0, 0);
}

/*Animação do botão das redes sociais*/
@keyframes button{
from{
transform: translateY(0);
}
to{
transform: translateY(-20px);
}
}

/*Classes de redes sociais*/
.social{
background: transparent;
border: 2px solid rgb(14, 145, 2);
background-color: white;
transition: transform 0.3s ease-in-out;
}

.social:hover{
background-color: rgb(96, 248, 116);
border: 2px solid rgb(255, 255, 255);
animation: button 0.3s ease-in-out forwards;
}

/*Animação de efeito de fade*/
.efect
{
display: flex;
width: 155px;
height: 181px;
position: absolute;
top: 380px; 
left: 100px; 
opacity: 1;
animation-name: fade; /*Nome da animação*/
animation-duration: 3s; /*Duração da animação*/
animation-iteration-count: infinite; /*Contagem que aquela animaçãao sera executada*/
z-index: 1;
}


@keyframes fade {
0% { /*Animação cmeça em 0*/
opacity: 0;
}
50%  { /*Atingindo seus 50% ela começa a aparecer*/
opacity: 1;
}
100% { /*Ao chegar o 100% ela perde sua opacidade total e com animation infinite ela retorna esse mesmo processo infinitas vezes*/
opacity: 0;
}
}